##Sidebars
#set( $sidebarcomponent = $userprofile.get("sidebarcomponent"))
#if(!$sidebarcomponent)
	#set( $sidebarcomponent = "")
#end
#set( $sidebarwidth = $userprofile.get("sidebarwidth"))
$context.putPageValue("sidebarcomponent", $sidebarcomponent)
$context.putPageValue("sidebarwidth", $sidebarwidth)

<section class="miiHeader">
    <!-- Start MII Header -->
    <script type="text/javascript" src="https://info.mitre.org/webapps/mii_header/miiHeader.js" data-set="mymii"></script>
    <!--End MII Header -->
</section>

#if( $userprofile.hasModule("order") )
#set( $orders = $mediaarchive.query("order").exact("checkoutstatus","pending").search($context))
#if( $orders.size() > 0)
<div id="headerstatusarea"  class="alert alert-primary" role="alert">
<a href="$apphome/views/modules/order/fieldsearch.html?field=checkoutstatus&checkoutstatus.value=pending&operation=exact">
	<i class="fas fa-info-circle"></i>
	[[Pending Orders]]  ($orders.size())</a>
</div>
#end
#end
</div>



<div id="header" class="mediacenterheader">
	<div class="pushcontent #if($sidebarcomponent) pushcontent-open pushcontent-$sidebarcomponent #end"
	style="#if($sidebarcomponent && $sidebarwidth) margin-left:${sidebarwidth}px;#end">
	
	<div class="logocontainer">
		<a class="emlogo" href="$home$apphome/index.html" title="[[EnterMedia Insights]]">
			<span><img src="$home$themeprefix/images/logoMitre.png" alt="[[EnterMedia Insights]]" /></span>
		</a>
	</div>
	
	  #if(!$hidefilters)
	        $pages.include("$apphome/components/gridfilters/header-search.html", $context)
	        ##$pages.include("$apphome/components/gridfilters/filters-selected.html", $context)
	    #end
	</div>
</div>


