<beans projectname="insights" depends="entermedia">


<bean id="discoverySearcher" class="org.entermedia.insights.search.DiscoverySearcher" singleton="true">
	<property name="moduleManager"><ref bean="moduleManager"/></property>
</bean>
	 	

<bean id="DiscoveryModule" class="org.entermedia.insights.search.DiscoveryModule" >
	<property name="moduleManager"><ref bean="moduleManager"/></property>
</bean>

</beans>

 