<div class="h-100">
<div class="h-100" style="background: url('/insights/app/theme/images/background-mi.jpg') 0 0; background-size: cover;">
<div class="h-100" style="background-color:rgb(255,255,255,0.5);">
<div class=" h-100 d-flex justify-content-center align-items-center">
	<div class=" text-center" style="width:600px;" >
	 
	 <div style="padding:20px 0;">
	<img src="/insights/app/theme/images/logoMitre.png" alt="[[EnterMedia Insights]]" />
	</div>
	
	<div class="navbar-quicksearch" id="nav-quicksearch" style="margin: 0 auto;">
	$pages.include("/insights/app/components/quicksearch/navbar.html")
	</div>
	
	
	<div style="padding:20px;"><strong>What people are searching for</strong></div>
	
	</div>
</div>
</div>
</div>
</div>