
#set( $rendertype = $context.getPageValue("previewrendertype"))
#if (!$rendertype)
	#set( $rendertype = "discovery")
#end

#set($searchtype = $rendertype)

#set($previewurl = "$componenthome/gridsample/preview/${rendertype}.html?id=$hit.id&searchtype=$searchtype&hitssessionid=$hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

##Favorites


<div class="emgrid-content emgrid-type-$rendertype resultsassetcontainer">        	 
        	 <div class="emgrid-content-header">
        	 <h3>
        	 <a href="$previewurl" 
        	 	class="emdialog emgridresulttitle" 
        	 	data-hidefooter="true" 
        	 	data-hideheader="true"
        	 	id="clickid${hit.id}"  
        	 	data-id="$hit.id"
        	 	title="$!hit.ibmtitle">
     	 	
        	 	$!hits.highlight($hit,"ibmtitle")</a>
        	 
        	 </h3> 
        	 </div>
        	 <div class="ibmgrid-projectnumber">$!hit.ibmoriginalAuthorName $!hit.ibmprojectNumber </div>
	        <div class="emgridcell-default" data-width="$!{hit.width}" data-height="$!{hit.height}">
	        	
		        ##$!hits.highlight($hit,"ibmtext",200)
		        
	        </div>

	        $pages.include("$componenthome/gridsample/tags.html",$context)
	        
	        
	        #set($isfav="false")
	        #if($favorites.indexOf($hit.id) != -1)
			 #set($isfav="true")
			#end
				        
	        
	        <div class="ibmgrid-footer">
	        <a href="" 
	        	class="float-left ibmfavorite ibmfavclick #if($isfav=='true') ibmfavorited #end" 
	        	data-id="$hit.id"
	        	data-searchtype="$searchtype"
	        	#if($isfav=='true')
	        	title="[[Remove from Favorites]]"
	        	#else
	        	title="[[Add to Favorites]]"
	        	#end
	        	>
	        ##<i class="far fa-bookmark"></i>
	        <i class="fas fa-bookmark"></i>
	        </a>
	        <a class=" float-right emdialog" data-hidefooter="true" href="$previewurl" title="$!hit.ibmtitle">[[view more details]]</a>
	        </div>
	        
	        <div class="griditem-tools resultsselection">
	        <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	        </div>
</div>