
#set( $rendertype = $context.getPageValue("previewrendertype"))
#if (!$rendertype)
	#set( $rendertype = "discovery")
#end

#set($searchtype = $rendertype)

#set($previewurl = "$componenthome/gridsample/preview/${rendertype}.html?id=$hit.id&searchtype=$searchtype&hitssessionid=$hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content emgrid-type-$rendertype resultsassetcontainer">        	 
        	 <div class="emgrid-content-header">
        	 <h3>
        	 <a href="$previewurl" 
        	 	class="emdialog emgridresulttitle" 
        	 	data-hidefooter="true" 
        	 	data-hideheader="true"
        	 	id="clickid${hit.id}"  
        	 	data-id="$hit.id"
        	 	title="$!hit.ibmtitle">
     	 	
        	 	$!hits.highlight($hit,"ibmtitle")</a>
        	 
        	 </h3> 
        	 </div>
        	 <div class="ibmgrid-projectnumber">
        	 	$!hit.ibmprojectNumber #if($hit.ibmoriginalAuthorName) <span class="ibmgrid-name">$!hit.ibmoriginalAuthorName</span>#end
        	 </div>
        	  
	        <div class="emgridcell-default" data-width="$!{hit.width}" data-height="$!{hit.height}">
	        	
		        ##$!hits.highlight($hit,"ibmtext",200)
		        
		        #if($rendertype=="insight_domain_poc")
		        	#if($hit.ibmfundingSource)<div>$hit.ibmfundingSource</div>#end
		        	#if($hit.ibmsdl_date)<div>Publication Date: $context.getDate($hit.ibmsdl_date)</div>#end
					#if($hit.ibmreleaseDate)<div>[[Release Date]]: $context.getDate($hit.ibmreleaseDate)</div>#end
				#elseif($rendertype=="insight_product_mpl")
					#if($hit.ibmfundingSource)<div>$hit.ibmfundingSource</div>#end
					#if($hit.ibmuploadeddate)<div>Uploaded Date:<br> $context.getDate($hit.ibmuploadeddate)</div>#end
				#elseif($rendertype=="insight_project_mip")
					#if($hit.ibmlongName)<div>$hit.ibmlongName</div>#end
					#if($hit.ibmstartDate) <div>Start: $context.getDate($hit.ibmstartDate)</div>#end
					#if($hit.ibmendDate) <div>End: $context.getDate($hit.ibmendDate)</div>#end
		        #end
		        
		        
	        </div>

	        $pages.include("$componenthome/gridsample/tags.html",$context)
	        <div class="clearfix"></div>
	        <div class="ibmgrid-footer">
	        
	        $pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$searchtype", $context)
	        
	        <a class=" float-right emdialog insighemdialog" data-hidefooter="true" href="$previewurl" title="$!hit.ibmtitle">[[view more details]]</a>
	        
	        </div>
	        
	       ## <div class="griditem-tools resultsselection">
	       ## <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	       ## </div>
</div>