#set($type = $hit.getSearchHit().getType())
#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
#set($previewurl = "$componenthome/gridsample/preview/insight.html?id=$hit.id&searchtype=$type")
<div class="emgrid-content emgrid-type-$type emgrid-type-asset-$rendertype resultsassetcontainer">        	 
        	 
        	 <h3>
        	 <a href="$previewurl" class="emdialog" data-hidefooter="true" id="clickid${hit.id}"  data-id="$hit.id">$!hit.ibmtitle</a>
        	 </h3> 
	        <div class="emgridcell-default #if ($hit.keywords) emgriddcell-withkeywords #end" data-width="$!{hit.width}" data-height="$!{hit.height}">
		        <div>$!hit.ibmprojectNumber</div>
		        <div>$!hit.ibmoriginalAuthorName</div>
	        </div>

	        $pages.include("$componenthome/gridsample/tags.html",$context)
	        
	        <div class="ibmgrid-viewmore">
	        
	        <a class=" float-right emdialog" data-hidefooter="true" href="$previewurl" title="$!hit.ibmtitle">[[view more details]]</a>
	        </div>
	        
	        <div class="griditem-tools resultsselection">
	        <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	        </div>
</div>