#if($modulehits.size())
##$modulehits.size() [[Results Found]]
#end
#foreach($module in $organizedModules)
	#set($hits = $organizedHits.get($module.id))
	<div class="emgrid-subtitle">
		<h3>$module ($hits.size())</h3>
		<div style="float:right;"><a href="$apphome/views/modules/$module.id/index.html?">[[See More]]</a></div>
		<div class="clearfix"></div>
	</div>
	
	<div id="galleryimg" class="emgrid" data-colwidth="280">
		#foreach( $hit in $hits)
			#if( $foreach.count < 5)
		     <div class="emgridcell emgridcell-$module.id" style="width:369px; height: 280px; "> 
		     	##TODO add a module render type
		     	#if ($module.id== "insight_product"  || $module.id == "asset" || $module.id == "project" || $module.id == "task" || $module.id == "people" || $module.id =="librarycollection" || $module.id=="category")
		     		#set($includetype = $module.id)
		     	#else
		     		#set($includetype = "default")
		     	#end
		     	$context.putPageValue("hit", $hit)

		        $pages.include("$apphome/components/gridsample/types/${includetype}.html", $context)
		     </div>
		    #end 
		#end
	</div>     
#end

