#set( $hits = $modulehits)
$context.putPageValue("hits",$hits)

#if($modulehits.size())
##$modulehits.size() [[Results Found]]
#end
#foreach($module in $organizedModules)
	#set($hits = $organizedHits.get($module.id))
	<div class="emgrid-subtitle">
		<h3><i class="fas fa-user"></i> $module <span class="count">($hits.size())</span></h3>
		#set($resultsPage = "$apphome/views/modules/$module.id/index.html")
		#set($resultsPage = "$resultsPage?hitssessionid=$!hits.sessionId&hitsperpage=$!hits.hitsPerPage")
		
		#if( $modulehits.getSearchQuery().hasMainInput())
			#set ($searched = $modulehits.getSearchQuery().getMainInput())
			#set($resultsPage = "$resultsPage&field=description&description.value=$searched&operation=contains")
		#end
		
		<div style="float:right;"><a href="$resultsPage">[[See More]]</a></div>
		<div class="clearfix"></div>
	</div>
	
	<div id="galleryimg" class="emgrid" data-colwidth="280" data-cellpadding="30">
		#foreach( $hit in $hits)
			#if( $foreach.count < 5)
		     <div class="emgridcell emgridcell-$module.id" style="width:369px; height: 280px; "> 
		     	##TODO add a module render type
		     	#if ($module.modulerendertype)
		     		#set($includetype = $module.modulerendertype)
		     	#else
		     		#set($includetype = "discovery")
		     	#end
		     	$context.putPageValue("hit", $hit)

		        $pages.include("$apphome/components/gridsample/types/${includetype}.html", $context)
		     </div>
		    #end 
		#end
	</div>     
#end

