$hits.setHitsPerPage(16)
<div class="emgrid-subtitle">
	<h3>$module ($hits.size())</h3>
	<div class="clearfix"></div>
</div>
<div id="galleryimg" class="emgrid" data-colwidth="280" data-cellpadding="30">
		#foreach( $hit in $hits.getPageOfHits())
		     <div class="emgridcell emgridcell-$module.id" style="width:369px; height: 280px; "> 
		     	
		     	#if ($module.modulerendertype)
		     		#set($includetype = $module.modulerendertype)
		     	#else
		     		#set($includetype = "discovery")
		     	#end
		     	$context.putPageValue("hit", $hit)
		        $pages.include("$apphome/components/gridsample/types/${includetype}.html", $context)
		     </div>
		#end
</div>  
#if($hits.nextPage())
	$pages.include("$componenthome/results/pages.html",$context)
#end