#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end


#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details modal-insight ${ibmmodule.id}-modal">
	
<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="modal-body modal-body-insight">

<div class="ibmpreview">

<div class="row modal-body-insight-header">
	<div class="col-md-8">
		<h2 class="modal-title">$!data.ibmtitle
		#if($data.ibmprojectNumber)<br><span class="insight-projectnumber">$!data.ibmprojectNumber</span>#end
		</h2>
	</div>
	<div class="col-md-4">
		<h3 class="modal-insight-datatype"><img src="$apphome/theme/images/insights/icon_${ibmmodule.id}.svg"> $ibmmodule</h3>
	</div>
</div>


<div class="row" >
	<div class="col-md-8">
		<p>$!data.ibmoriginalAuthorName - [[Leader]]<br></p>
		<p>[[Funding Source]]:<br> $!data.ibmfundingSource</p>	
	</div>
	<div class="col-md-4">
	
	#if($data.ibmsdl_date)<p>Publication Date:<br> $context.getDate($data.ibmsdl_date)</p>#end
	#if($data.ibmreleaseDate)<p>[[Release Date]]:<br> $context.getDate($data.ibmreleaseDate)<p>#end
	</div>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#snippet">Snippet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#organizations">Organizations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#people">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#jobs">Jobs</a>
  </li>
</ul>

<div class="tab-content">	
	<div id="snippet"  class="tab-pane active">	
		<div class="ibmtext"> 
		<h3>Watson Discovery Summary</h3>
		$!hits.highlight($data,"fulltext")
		</div>
	</div>
	<div id="organizations"  class="tab-pane">
		Organizations
	</div>
	<div id="people"  class="tab-pane">
		People
	</div>
	<div id="jobs"  class="tab-pane">
		Jobs
	</div>
</div>	
	
	#if($data.ibmcopyrightText)<div class="insight-copyright">$data.ibmcopyrightText</div>#end
	
	<div class="preview-nav">
	#set( $index = $hits.indexOfId($data.id))
	#set( $previous = false )
	#set( $previous = $hits.previous($index))
	#set( $next = false )
	#set( $next = $hits.next($index))  
	#if( $previous)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$previous&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Previos"> <i class="fas fa-caret-left"></i></a>
	#end
	#if( $next)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$next&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Next"><i class="fas fa-caret-right"></i> </a>
	#end
	</div>
</div>
</div>
</div>