#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end

$context.putPageValue("data", $data)

#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details modal-insight ${ibmmodule.id}-modal">
	
<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="modal-body modal-body-insight">

<div class="ibmpreview">

<h3 class="modal-insight-datatype"><img src="$apphome/theme/images/insights/icon_${ibmmodule.id}.svg"> $ibmmodule</h3>

<div class="modal-body-insight-header">
	<h2 class="modal-title">$!data.ibmtitle</h2>
</div>


<div class="insight-columns">
	#if($data.ibmfield_tca_organizationleadername)
	<h4>Contacts</h4>
	<p>$data.ibmfield_tca_organizationleadername</p>
	#end
	
	<p>
		#if($data.ibmcreated_at) Updated: $data.ibmcreated_at #end  ##--getDate not working 
	</p>
	
	
	#if( $data.hasfulltext == "true")	
	<div class="ibmtext"> 
	<h4>Description</h4>
	$!hits.highlight($data,"fulltext")
	</div>
	#end
	
</div>
	

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#organizations">Organizations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#people">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#jobs">Jobs</a>
  </li>
</ul>

<div class="tab-content">	
	<div id="organizations"  class="tab-pane active">
		Organizations
	</div>
	<div id="people"  class="tab-pane">
		$data.ibmentityperson
	</div>
	<div id="jobs"  class="tab-pane">
		Jobs
	</div>
</div>

	$pages.include("$componenthome/gridsample/preview/tags.html",$context)	
	
	
	$pages.include("$componenthome/gridsample/favorites.html?moduleid=$module.id&id=$data.id&searchtype=$searchtype", $context)
	
	<div class="preview-nav float-left">
	#set( $index = $hits.indexOfId($data.id))
	#set( $previous = false )
	#set( $previous = $hits.previous($index))
	#set( $next = false )
	#set( $next = $hits.next($index))  
	#if( $previous)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$previous&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Previos"> <i class="fas fa-caret-left"></i></a>
	#end
	#if( $next)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$next&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Next"><i class="fas fa-caret-right"></i> </a>
	#end
	</div>

</div>
</div>
</div>