#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end


#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details ${ibmmodule.id}-modal">
	
<div class="modal-close">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
</div>

<div class="modal-body modal-body-insight">

<div class="ibmpreview">

<div class="row">
	<div class="col-md-7">
		<h2 class="modal-title">$!data.ibmtitle</h2>
	</div>
	<div class="col-md-5">
		<h3 style="position: absolute; bottom:0;">
		<img src="$apphome/theme/images/insights/icon_${ibmmodule.id}.svg" style="height: 20px;"> $ibmmodule</h3>
	</div>
</div>
<p>
	<span class="ibm-projectnumber">$!data.ibmprojectNumber</span>
	<span>[[Status]]: $!data.project_page_charge_code</span>
</p>
<div class="row" >
	<div class="col-md-7">
		<p>File Name:<br> $!data.ibmfile_name</p>
		<p>[[Source]]:<br> $!data.ibmsource_library</p>
	</div>
	<div class="col-md-5">
	<p>[[Publication Date]]:<br> $!data.ibmpublicationDate</p>
	
	</div>
</div>
	
	#if($hit.fulltext)
	<div class="ibmtext"> 
	<h3>Watson Discovery Summary</h3>
	$!hits.highlight($data,"fulltext")
	</div>
	#end
	
<div class="preview-nav">
	#set( $index = $hits.indexOfId($data.id))
	#set( $previous = false )
	#set( $previous = $hits.previous($index))
	#set( $next = false )
	#set( $next = $hits.next($index))  
	#if( $previous)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$previous&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Previos"> <i class="fas fa-caret-left"></i></a>
	#end
	#if( $next)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$next&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Next"><i class="fas fa-caret-right"></i> </a>
	#end
	</div>
	
	#if($data.ibmdocument_url)<div class="float-right"><a href="$data.ibmdocument_url">[[See Document]]</a></div>#end
</div>
</div>
</div>