#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end


#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details">
	
<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="modal-body">

<div class="ibmpreview">

<div class="row">
	<div class="col-md-8">
		<h2 class="modal-title">$data.ibmtitle</h2>
	</div>
	<div class="col-md-4">
		<h3 style="position: absolute; bottom:0;"><i class="fas fa-user"></i> $ibmmodule</h3>
	</div>
</div>
<p>
	<span class="ibm-projectnumber">$data.ibmprojectNumber</span>
	<span>[[Status]]: $!data.project_page_charge_code</span>
</p>
<div class="row" >
	<div class="col-md-7">
		<p>$!data.originalAuthorName - [[Leader]]<br></p>
		<p>$!data.ibmsdl_date</p>
	</div>
	<div class="col-md-5">
	<p>[[Project Details]]</p>
	<p>[[Super Portfolio]]</p>
	<p>[[Portfolio]]</p>
	<p>[[Sub Portfolio]]</p>
	</div>
</div>
	
	<div class="ibmtext"> 
	$!hits.highlight($data,"ibmtext")
	</div>
	
	
	<div>
	$data.ibmcopyrightText</div>
	
	<p>
	#set( $index = $hits.indexOfId($data.id))
	#set( $previous = false )
	#set( $previous = $hits.previous($index))
	#set( $next = false )
	#set( $next = $hits.next($index))  
	#if( $previous)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$previous&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog" data-hideheader="true"> <i class="fas fa-chevron-circle-left"></i> Previous</a>
	#end
	#if( $next)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$next&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog" data-hideheader="true"> Next <i class="fas fa-chevron-circle-right"></i> </a>
	#end
	</p>
<div class="float-right"><a href="#">[[See Project Page]]</a></div>
</div>
</div>
</div>