#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end


#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details ${ibmmodule.id}-modal">
	
<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="modal-body modal-body-insight">

<div class="ibmpreview">

<div class="row">
	<div class="col-md-8">
		<h2 class="modal-title">$!data.ibmtitle</h2>
	</div>
	<div class="col-md-4">
		<h3 style="position: absolute; bottom:0;"><img src="$apphome/theme/images/insights/icon_${ibmmodule.id}.svg" > $ibmmodule</h3>
	</div>
</div>
<p>
	<span class="ibm-projectnumber">$!data.ibmchargeCode</span>
</p>
<div class="row" >
	<div class="col-md-7">
		#if ($data.ibmlongName)<p>$!data.ibmlongName</p>#end
		<p>$!data.ibmphonebookDisplayName</p>
	</div>
	<div class="col-md-5">
	<p><strong>[[Project Details]]</strong><br>
	
	#if($data.ibmstartDate) Start: $!data.ibmstartDate#end
	#if($data.ibmendDate) End: $!data.ibmendDate#end
	</p>
	
	</div>
</div>
	
	#if($hit.fulltext)
	<div class="ibmtext"> 
	<h3>Watson Discovery Summary</h3>
	$!hits.highlight($data,"fulltext")
	</div>
	#end

	
	<div class="preview-nav">
	#set( $index = $hits.indexOfId($data.id))
	#set( $previous = false )
	#set( $previous = $hits.previous($index))
	#set( $next = false )
	#set( $next = $hits.next($index))  
	#if( $previous)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$previous&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Previos"> <i class="fas fa-caret-left"></i></a>
	#end
	#if( $next)
		#set($previewurl = "$componenthome/gridsample/preview/${searchtype}.html?id=$next&searchtype=$searchtype&hitssessionid=$hits.sessionId")
		<a href="$previewurl" class="emdialog boxnavlink" data-hideheader="true" title="Next"><i class="fas fa-caret-right"></i> </a>
	#end
	</div>

</div>
</div>
</div>